*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.youtube {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
}
.youtube-image {
  height: 250px;
  margin-bottom: 15px;
}
.youtube-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.youtube-footer {
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
}
.youtube-footer img {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  flex-shrink: 0;
  object-fit: 0;
}

.title {
  margin-bottom: 10%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.author {
  font-size: 300;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
}
.logo {
  padding-left: 5%;
  width: 50%;
  max-height: 100px;
}
.hihi {
  text-align: center;
}
.hihihaha {
  color: blue;
  border: 1;
}
